
@import "settings";
@import "foundation";
@import "mydefs";
@import "../../css/font-awesome/font-awesome";
@import "dayView";



/**
 * Helpers
 */
.test-border {
	border: 1px solid red !important;
}



body {
	background-color: #f0f0f0;
}



/**
 * Off-Canvas
 */
.off-canvas-wrap,.inner-wrap{
	height:100%;
}

.off-canvas-list a {
	transition: none !important;
	&:hover {
		background-color: $as-orange !important;
		color: white;
	}
}


/**
 * Top Bar
 */
$as-top-bar-height: rem-calc(40);

.as-top-bar {
	@include grid-row();
	background-color: white;
	height: $as-top-bar-height;
	top: rem-calc(10);

	&.collapse {
		> .column, > .columns {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

#brand-logo {
	text-indent: -9999px;
	background: url('/img/logo.jpg') no-repeat center;
	text-align: center;
	background-size: rem-calc(120);
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	letter-spacing: 8px;
	line-height: $as-top-bar-height;
	font-weight: 300;

	@media #{$small-only} {
		margin-right: -16.6666666666%;
	}
}

#search-area {
	height: $as-top-bar-height;
	padding-top: $as-top-bar-height/5;

	input {
		border: none !important;
		background: none !important;
		box-shadow: none !important;
		font-size: .8em !important;
		font-weight: 300 !important;
		position: relative;
		margin: 0 !important;
		padding: 0.2rem 0.5rem !important;
		height: auto !important;
		width: 100%;
		max-width: rem-calc(200);

		@media #{$small-only} {
			max-width: 100% !important;
		}

		&:focus, &:active {
			background-color: #eaeaea !important;
			border-radius: 2px;
			color: black;
		}
	}

	@media #{$small-only} {
		background-color: #fff;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.fa {
		color: $as-med-grey;
		font-size: 0.84rem;
		position: relative;
		line-height: 1.6rem;
	}
}

.as-menu-toggle {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: #555;
	line-height: $as-top-bar-height;

	&:hover {
		color: black;
	}
}

.as-inline-list {
	margin: 0 auto;
	list-style: none;
	overflow: $inline-list-overflow;
	float: right;

	& > li {
		float: $default-float;
		margin-right: rem-calc(12);
		line-height: $as-top-bar-height;

		& > a {
			display: block;
			padding: 0 rem-calc(10);
			font-size: .83rem;
			color: $as-med-grey;

			&:hover, &:focus {
				color: $as-orange;
			}
		}
	}
}





/**
 * Home Page
 */

$home-section-height: rem-calc(230);

#page-home section {

	&#welcome {
		height: rem-calc(150);
		padding: rem-calc(20) 10%;

		img {
			border-radius: 100%;
			height: 100%;
		}
	}

	height: $home-section-height;
}



