
.clear {
	&:after {
		content: ".";
		display: none;
		clear: left;
		visibility: hidden;
	}
}

.glyphicon {
	font-size: 8pt;
	margin-right: 5px;
}

.centered {
	float: none;
	margin: 0 auto;
}

.btn {
	width: 100%;
//	padding: 5px;
	line-height: 1.9em;
	border: 1px solid black;
}
.btn-default {
	background-color: $orange;
	border-color: $orange;
	border-radius: 2px;

	&:hover {
		background-color: $light-orange;
	}
}

.error-panel {
	padding: 4px 8px;
	background-color: $error + #777;
	border-radius: 2px;
	border: 1px solid $error + #222;
	color: black;
	margin: 2% auto;
}
