* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.clear {
	&:after {
		content: ".";
		display: none;
		clear: both;
		visibility: hidden;
	}
}

.centered {
	float: none;
	margin: 0 auto;
}


.error-panel {
	padding: 4px 8px;
	background-color: $error + #777;
	border-radius: 2px;
	border: 1px solid $error + #222;
	color: black;
	margin: 2% auto;
}


