
/* Global Text Defines */
html, button, input, select, textarea,
.pure-g [class*="pure-u"]
{
	font-family: $default-fontstack;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 1px;
}

input[type="text"],input[type="password"] {
	letter-spacing: 2px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Generic Text Defines */

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.subtext {
	font-size: .74em;
}

.text-error {
	color: $error;
}

/* Link Defines */

a {
	color: inherit;

	// TODO change this
	&:hover {
		color: #ccc;
	}
}

a.simple {
	text-decoration: none;
}

a.block {
	display: block;
}