
@import "fonts";
@import "grid";
@import "color-defines";
@import "text-defines";
@import "forms";
@import "base";

html {
}

body {
	font-family: "OpenSans";
}

.main-content {
	width: 100%;

	@media (min-width: 1000px) {
		width: 1000px;
	}
//	@media (min-width: 850px) {
//		width:
//	}
}