/* ===================================
 * IMPORTS
 * =================================== */
@import "testing"; // TODO PRODUCTION: remove
/**
 * FONT STUFF
 */
@import "fonts";
/**
 * PURE CSS
 */
@import "pure-css";
@import "pure-extend";
/**
 * DEFINES
 */
@import "color-defines";
@import "text-defines";
/**
 * FORMS
 */
@import "forms";
/**
 * BUTTONS
 */
@import "btns";
/**
 * MISC
 */
@import "misc";



// TODO HAVE PLACEHOLDER TEXT ORANGE WHEN NO VALUES - THROUGH JS!


/* ===================================
 * LOGIN CSS
 * =================================== */

/**
 * GLOBALS
 */
body {

	background: $light-grey url('/img/login.jpg');
	background-repeat: no-repeat;
	background-position: 50% 20%;

	@media (max-width: $break-sm) {
		background: $light-grey;
	}
}

/**
 * LOGIN
 */
#login-div {

	margin-top: 6em;
	background: $white;
	padding: 1.8em;
	border-radius: 3px;
	width: 22em;

	h1 {
		margin: 1em 0 .3em 0;
		width: 100%;
		text-indent: -9999px;
		color: rgba(0,0,0,0);
		background: url('/img/logo.jpg') no-repeat center;
		background-size: 80%;
	}

	#tagline {
		font-size: 0.8em;
		width: 15em;
	}

	form {
		margin-top: 2.6em;

		input[type="text"]:valid {
			font-weight: 300;
			font-size: 1.4em;
			line-height: 0;
			padding: 0px 10px;
			height: 1.95em;
			margin-bottom: 6px;
			letter-spacing: .1em;
		}
		input[type="password"]:valid {
			font-weight: 700;
			font-size: 1.4em;
			line-height: 0;
			padding: 0px 10px;
			height: 1.95em;
			margin-bottom: 6px;
			letter-spacing: .1em;
		}
		input[type="submit"] {
			margin-top: 1.1em;
			background-color: hsla(hue($light-orange), 70%, lightness($light-orange), .7);
		}

		input:valid + input:valid ~ input[type="submit"] {
			background-color: $orange;
		}
	}

	#forgot-pass {
		font-size: 0.7em;
		color: $dark-grey;
		margin: 1.3em 0;

		&:hover {
			color: $orange;
		}
	}

	@media (max-width: $break-sm) {
		margin-top: 0;
	}

}