@import "color-defines";

body {
	background: url('/img/login.jpg');
	background-repeat: no-repeat;
	background-position: 50% 20%;
}

#login-div {

	margin-top: 15%;
	background: $white;
	padding: 3%;
	border-radius: 3px;
	font-weight: lighter;

	h1 {
		margin: 2% 0;
		width: 100%;
		text-indent: -9999%;
		background: url('/img/logo.jpg') no-repeat center;
	}

	#tagline {
		width: 70%;
	}

	#forgot-pass {
		font-size: 0.7em;
		color: $dark-grey;
		margin-top: 7%;

		&:hover {
			color: $orange;
		}
	}

	form {
		margin-top: 20%;

		.btn-default {
			color: $white;
		}

		input[type="password"]:valid {
			font-weight: bold;
			font-size: 1.5em;
			padding: 0px 10px;
			height: 1.85em;
			margin-bottom: 5px;
			letter-spacing: 3px;
		}
		input[type="text"]:valid {
			font-weight: bold;
		}

		input[type="submit"] {
			margin-top: 6%;
		}
	}



	@media (max-width: 850px) {
		width: 50%;
		padding: 4%;
	}

	@media (max-width: 550px) {
		width: 75%;
		padding: 5%;
	}


}